In [397]:
import pandas as pd
import matplotlib.pyplot as plt
from sklearn.metrics import accuracy_score, precision_score, recall_score

In [483]:
r1 = pd.read_csv('user_result/552_final_April 30, 2021_05.18.csv')
r2 = pd.read_csv('user_result/552_final_April+30,+2021_08.43.csv')
all = pd.read_csv('user_study/user_study_data.csv')

In [484]:
all.head()

   Unnamed: 0                                               text  label  class
0           4  Hospitals across England are stretched to the ...      0      0
1          14  Frank King has gotten death threats. So many a...      0      0
2          19  Lenore Janis, a force of nature in the New Yor...      0      0
3          29  South Africa has faced blow after blow to its ...      0      0
4          31  Just over one million Americans filed new clai...      0      0

In [485]:
r1a = r1.iloc[:,19:-1]
r2a = r2.iloc[:,19:-1]

In [486]:
r1b = r1_a.drop(1)
r2b = r2_a.drop(1)

In [487]:
for i in range(len(r1b.iloc[0, :])):
    r1b.iloc[0,i] = r1b.iloc[0,i].split('_')[0]

for i in range(len(r2b.iloc[0, :])):
    r2b.iloc[0,i] = r2b.iloc[0,i].split('_')[0]

In [488]:
r1b.head()

,QID17,QID18,QID19,QID21,QID20,QID22,QID23,QID24,QID25,QID26,...,QID257,QID258,QID259,QID260,QID261,QID262,QID263,QID264,QID265,QID266
0,99,24,152,134,37,212,135,52,9,144,...,122,210,76,249,167,239,2,247,209,220
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [489]:
r1b_header = r1b.iloc[0]
r1b = r1b[1:] 
r1b.columns = r1b_header

In [490]:
r2b_header = r2b.iloc[0]
r2b = r2b[1:] 
r2b.columns = r2b_header

In [491]:
r1c = r1b.T
r2c = r2b.T

In [492]:
for y in r1c:
    a = [[y for y in x if pd.notna(y)] for x in r1c.values.tolist()]

In [493]:
for y in r2c:
    b = [[y for y in x if pd.notna(y)] for x in r2c.values.tolist()]

In [494]:
d = {}
for i in range(len(r1c.index)):
    d[r1c.index[i]] = a[i]

In [495]:
for i in range(len(r2c.index)):
    d[r2c.index[i]].extend(b[i])

In [496]:
all['Unnamed: 0'] = all['Unnamed: 0'].astype(str)

In [497]:
y_label = []
y_test = []
y_human = []
for k in d.keys():
    for p in d[k]:
        try:
            y_label.append(all[all['Unnamed: 0']==k]['label'].values[0])
            y_test.append(all[all['Unnamed: 0']==k]['class'].values[0])
            if p == '1':
                y_human.append(1)
            else:
                y_human.append(0)
        except:
            continue

In [498]:
result = pd.DataFrame({'y_label':y_label, 'y_test':y_test, 'y_human':y_human})

In [499]:
result.groupby([y_label]).agg(['count'])

  y_label y_test y_human
    count  count   count
0     193    193     193
3     233    233     233

In [501]:
acc = accuracy_score(result['y_test'], result['y_human'])
prec = precision_score(result['y_test'], result['y_human'])
rec = recall_score(result['y_test'], result['y_human'])

print("Accuracy:",  round(acc,2))
print("Precision", round(prec,2))
print("Recall", round(rec,2))

Accuracy: 0.51
Precision 0.57
Recall 0.44